@import url('https://fonts.googleapis.com/css?family=Alegreya');

body {
    font-family: "Alegreya", serif;
}

h1{
    color:darkolivegreen;
    text-align:center;
    width:100%
}

.explanation {
    display:block;
    text-align:center;
    background-color:lightcoral;
    color:rgb(20,20,20);
    font-weight:bold;
    padding:10px 8px;
    margin:0px -8px;
    align-self:center;
    width:calc(100vw -  16px)
}

#indexLinksBody {
    display:flex;
    flex-flow:row;
    flex-wrap:wrap;
    justify-content:space-around;
}

.indexLinkDiv {
    margin-top:20px;
    width:500px;
    height:300px;
    background-color:azure;
    text-align:center;
    align-items:center;
    border:5px solid teal;
}

.indexLinkDiv:hover {
    background-color:white;
}

.indexLinkA {
    width:400px;
    height:140px;
    padding:80px 50px 80px 50px;
    display:block;
    text-decoration:none;
    color:teal;
    font-weight:bold;
}

.indexLinkA:hover {
    color:darkseagreen;
}

.indexFinishDate{
    color:grey;
    font-weight:normal;
}

.indexLinkToBadPage {
    background-color:lavenderblush;
    border:5px solid maroon;
}

.indexLinkToBadPage a {
    color:maroon;
}

.indexLinkToBadPage a:after {
    content: " (not done)";
}

.indexLinkToBadPage a:hover {
    color:indianred;
}

.hidden {display:none;}

#animalPicsContainer {display:flex;padding:0;margin:0;}
.animalPic {width:20%;height:20vw;padding:0;margin:0}
#rubricDiv {display:none;}

#nurtureContainer {display:none;}
.nurtureBox {width: 25%;height:50px;float:left;padding-top:25px;padding-bottom:0px;text-align:center;}
#giveFoodBox {background-color:#ff6666;}
#giveWaterBox {background-color:#66ccff;}
#givePlayBox {background-color:#66ffcc;}
#giveWalkBox {background-color:#ccff66;}
#giveFoodBox:hover {background-color:#ff9999;}
#giveWaterBox:hover {background-color:#99ddff;}
#givePlayBox:hover {background-color:#99ffdd;}
#giveWalkBox:hover {background-color:#ddff99;}
#giveFoodBox:active {background-color:#ffe6e6;}
#giveWaterBox:active {background-color:#e6f7ff;}
#givePlayBox:active {background-color:#e6fff7;}
#giveWalkBox:active {background-color:#f7ffe6;}

#lifesignContainer {display:none;}
.lifesignBox {color:white;width: 20%;height:80px;float:left;padding-top:25px;padding-bottom:0px black;text-align:center;}
#hungerBox {background-color:#cc0000;}
#thirstBox {background-color:#336699;}
#boredomBox {background-color:#339966;}
#restlessnessBox {background-color:#999966;}
#healthBox {background-color:#ff0066;}
.lifesignValue {font-size:2em;}

#petPic {width:20%;float:right;}
#messageDiv {margin-top:220px;}
#message {margin-top:200px;}

#keyBody {
    display:flex;
    flex-flow:row;
    justify-content:space-around;
    width:100%;
}

.oneOfThree {
    width:33%;
    text-align:center;
}

#drumkitBody {
    width:100%;
    height:750px;
    background: url(JSdrumkit-files/images/bg.png) orange center no-repeat;
    display:grid;
    align-items: stretch;
    grid-template-columns: repeat(9,auto);
    grid-template-rows: repeat(2,auto);
}

.drumkitPart {
    background-color: lightsalmon;
    padding-top:18px;
    text-align:center;
}

@keyframes drumkitAnimation {
    0% {background-color: whitesmoke};
    100% {background-color: lightsalmon;}
}

.drumkitLetter {
font-size: 24pt;
}

#drumkitBoom {
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
}

#drumkitClap {
    grid-column: 2 / span 1;
    grid-row: 2 / span 1;
}

#drumkitHihat {
    grid-column: 3 / span 1;
    grid-row: 1 / span 1;
}

#drumkitKick {
    grid-column: 4 / span 1;
    grid-row: 2 / span 1;
}

#drumkitOpenhat {
    grid-column: 5 / span 1;
    grid-row: 1 / span 1;
}

#drumkitRide {
    grid-column: 6 / span 1;
    grid-row: 2 / span 1;
}

#drumkitSnare {
    grid-column: 7 / span 1;
    grid-row: 1 / span 1;
}

#drumkitTink {
    grid-column: 8 / span 1;
    grid-row: 2 / span 1;
}

#drumkitTom {
    grid-column: 9 / span 1;
    grid-row: 1 / span 1;
}

#diceBody {
    display:flex;
    flex-flow:column;
    justify-content:space-around;
    width:100%;
    background-color: lightcoral;
    text-align:center;
}

#diceInput {
    font-size:24pt;
    text-align:center;
    width:33%;
}

#diceStartButton {
    font-size:24pt;
    width:100%;
    background-color:palevioletred;
}

#diceStartButton:hover {
    background-color:pink;
    color:grey;
}

#dicePlayArea {
    display:none;
}

#dicePlayH{
    width:100%;
    background-color:palevioletred;
    color:#400000;
}

#dicePlayH:hover{
    background-color:pink;
    color:grey;
}

#diceImgsAndTotals {
    display:flex;
    flex-flow:row;
    flex-wrap:wrap;
    justify-content:space-around;
    align-items:center;
    width:100%;
    background-color:lightpink;
}

.diceImg {
    width:100px;
    height:100px;
}

.diceTotalDiv {
    width:100px;
    background-color: peachpuff;
    text-align:center;
}

#diceMessage{
    width:100%;
}

#whackamoleBody{
    display:grid;
    grid-template: repeat(12, 1fr) / repeat(12, 1fr);
    justify-content:center;
    align-items:center;
    width:100%;
    height:75vh;
    background: url(https://farm5.staticflickr.com/4412/36740862726_d5da324eac_k.jpg) center;
    background-color:honeydew;
}

#whackamoleMole {
    width:200px;
    grid-row:6 / span 2;
    grid-column:6 / span 2;
    animation: moleAnimation 2s infinite 0s linear;
}

@keyframes moleAnimation {
    0% {transform:translate(0)}
    25% {transform:translateX(-2px) translateY(-10px) rotate(2deg);}
    50% {transform:translate(0)}
    75% {transform:translateX(2px) translateY(-10px) rotate(-2deg);}
    100% {transform:translate(0)}
}

#whackamoleMessage {
    display:none;
    text-align:center;
}

#whackamoleScoreMessage {
    display:none;
    font-size:20px;
    text-align:center;
    color:indianred;
}

#clockBody{
    display:grid;
    justify-content:center;
    align-items:center;
}

#clockFace{
    align-self:center;
    display:block;
    margin-top:50px;
    width:600px;
    height:600px;
    border-radius:50%;
    border: 10px solid saddlebrown;
    background-color:antiquewhite;
}

#clockHourHandWrap {
    position:absolute;
    align-self:center;
    display:block;
    margin-top:150px;
    margin-left:290px;
    margin-right:290px;
    margin-bottom:150px;
    height:300px;
    width:20px;
}

#clockHourHand {
    display:block;
    height:150px;
    width:20px;
    background-color:saddlebrown;
}

#clockMinuteHandWrap {
    position:absolute;
    align-self:center;
    display:block;
    margin-top:50px;
    margin-left:290px;
    margin-right:290px;
    margin-bottom:50px;
    height:500px;
    width:20px;
}

#clockMinuteHand {
    display:block;
    height:250px;
    width:20px;
    background-color:sienna;
}

#clockSecondHandWrap {
    position:absolute;
    align-self:center;
    display:block;
    margin-top:50px;
    margin-left:296px;
    margin-right:296px;
    margin-bottom:50px;
    height:500px;
    width:10px;
}

#clockSecondHand {
    display:block;
    height:250px;
    width:8px;
    background-color:goldenrod;
}

#clockDigital {
    padding-top:50px;
    text-align:center;
    font-size:24px;
}

.chessExampleReference {
    font-family:Helvetica, Arial, sans-serif;
    font-weight:lighter;
    color:darkslategrey;
}

#chessBody {
    display:grid;
    justify-content:center
}

#chessBoardEdge {
    margin-top:30px;
    display:grid;
    width:716px;
    height:716px;
    grid-template: 48px 10px 600px 10px 48px / 48px 10px 600px 10px 48px;
    background-color:beige;
}

#chessFilesEdgeBlack {
    grid-row:1/2;
    grid-column:3/11;
    display:flex;
    width:600px;
}

#chessFilesEdgeBlack div {
    width:45px;
    text-align:center;
    padding:15px;
    color:grey;
}

#chessFilesEdgeWhite {
    grid-row:5/6;
    grid-column:3/4;
    display:flex;
    width:600px;
}

#chessFilesEdgeWhite div {
    width:45px;
    text-align:center;
    padding:15px;
    color:grey;
}

#chessRanksEdgeLeft {
    grid-row:3/4;
    grid-column:1/2;
    display:flex;
    flex-direction:column;
    height:600px;
    width:48px;
}

#chessRanksEdgeLeft div {
    height:15px;
    text-align:center;
    padding-top:30px;
    padding-bottom:30px;
    color:grey;
}

#chessRanksEdgeRight {
    grid-row:3/4;
    grid-column:5/6;
    display:flex;
    flex-direction:column;
    height:600px;
    width:48px;
}

#chessRanksEdgeRight div {
    height:15px;
    text-align:center;
    padding-top:30px;
    padding-bottom:30px;
    color:grey;
}

#chessBoard {
    grid-row:2/10;
    grid-column:2/10;
    display:flex;
    flex-direction:column;
    grid-template: repeat(8 1fr)/repeat(8 1fr);
    justify-content:center;
    align-items:center;
    width:600px;
    height:600px;
    border:10px solid saddlebrown;
    font-size:18px;
}

.chessRow {
    display:flex;
    /* grid-template:repeat(8 1fr)/1; */
    width:600px;
    height:75px;
    grid-column:1/9;
    grid-row:1/2;
}

.chessCellOdd {
    display:flex;
    width:75px;
    height:75px;
    background-color:beige;
    justify-content:center;
    align-items:center;
}

.chessCellEven {
    display:flex;
    width:75px;
    height:75px;
    background-color:antiquewhite;
    justify-content:center;
    align-items:center;
}

.chessPieceWhite {
    position:absolute;
    width:30px;
    height:30px;
    background-color:white;
    color:grey;
    border-radius:50px;
    border: 1px solid black;
    text-align:center;
    padding:10px;
}

.chessPieceBlack {
    position:absolute;
    width:30px;
    height:30px;
    background-color:black;
    color:white;
    border-radius:50px;
    border: 1px solid grey;
    text-align:center;
    padding:10px;
}

#chessMessageDiv {
    text-align:center;
    padding:5px;
}

#chessInput {
    text-align:center;
    font-size:16px;
    border:1px solid grey;
}

@media screen and (max-width: 715px) {
    .explanation {
        display:block;
        padding:10px 8px;
        margin:-8px -8px -0px;
        align-self:center;
        width:calc(100vw -  16px)
    }

    #drumkitBody {
        height:fit-content;
    }

    #drumkitPart {
        padding:0
    }

    #drumkitLetter {
        font-size: 12px;
        padding:0;
    }

    #clockFace {
        width:calc(100vw - 36px);
        height:calc(100vw - 36px);
    }

    #clockHourHandWrap {
        position:absolute;
        align-self:center;
        display:block;
        margin-top:calc(25vw - 16px);
        margin-bottom:calc(25vw - 16px);
        margin-left:calc(50vw - 27px);
        margin-right:calc(50vw - 27px);
        height:calc(50vw - 4px);
        width:18px;
    }
    
    #clockHourHand {
        height:calc(25vw - 2px);
        width:18px;
    }
    
    #clockMinuteHandWrap {
        margin-top:6px;
        margin-bottom:6px;
        margin-left:calc(50vw - 28px);
        margin-right:calc(50vw - 28px);
        height:calc(100vw - 48px);
        width:20px;
    }
    
    #clockMinuteHand {
        height:calc(50vw - 24px);
        width:20px;
    }
    
    #clockSecondHandWrap {
        margin-top:6px;
        margin-bottom:6px;
        margin-left:calc(50vw - 22px);
        margin-right:calc(50vw - 22px);
        height:calc(100vw - 48px);
        width:8px;
    }
    
    #clockSecondHand {
        height:calc(50vw - 24px);
        width:8px;
        background-color:goldenrod;
    }
    
    #chessBoardEdge {
        margin-top:8vw;
        display:grid;
        width:100vw;
        height:100vw;
        grid-template: 8vw 2vw 80vw 2vw 8vw / 8vw 2vw 80vw 2vw 8vw;
        background-color:beige;
    }
    
    #chessFilesEdgeBlack {
        grid-row:1/2;
        grid-column:3/11;
        display:flex;
        justify-content: space-around;
        align-items:center;
        width:80vw;
    }
    
    #chessFilesEdgeBlack div {
        padding:0;
        text-align:center;
        padding-top:3px;
        color:grey;
    }
    
    #chessFilesEdgeWhite {
        grid-row:5/6;
        grid-column:3/4;
        display:flex;
        align-items:center;
        width:80vw;
    }
    
    #chessFilesEdgeWhite div {
        padding:0;
        width:10vw;
        text-align:center;
        padding-top:3px;
        color:grey;
    }
    
    #chessRanksEdgeLeft {
        grid-row:3/4;
        grid-column:1/2;
        display:flex;
        flex-direction:column;
        justify-content: space-around;
        height:80vw;
        width:8vw;
    }
    
    #chessRanksEdgeLeft div {
        padding:0;
        height:1em;
        text-align:center;
        color:grey;
    }
    
    #chessRanksEdgeRight {
        grid-row:3/4;
        grid-column:5/6;
        display:flex;
        flex-direction:column;
        justify-content: space-around;
        height:80vw;
        width:8vw;
    }
    
    #chessRanksEdgeRight div {
        padding:0;
        height:1em;
        text-align:center;
        color:grey;
    }
    
    #chessBoard {
        grid-row:2/10;
        grid-column:2/10;
        display:flex;
        flex-direction:column;
        grid-template: repeat(8 1fr)/repeat(8 1fr);
        justify-content:center;
        align-items:center;
        width:80vw;
        height:80vw;
        border:2vw solid saddlebrown;
        font-size:18px;
    }
    
    .chessRow {
        display:flex;
        /* grid-template:repeat(8 1fr)/1; */
        width:80vw;
        height:10vw;
        grid-column:1/9;
        grid-row:1/2;
    }
    
    .chessCellOdd {
        display:flex;
        width:10vw;
        height:10vw;
        background-color:beige;
        justify-content:center;
        align-items:center;
    }
    
    .chessCellEven {
        display:flex;
        width:10vw;
        height:10vw;
        background-color:antiquewhite;
        justify-content:center;
        align-items:center;
    }
    
    .chessPieceWhite {
        position:absolute;
        padding:0;
        width:8vw;
        height:8vw;
        background-color:white;
        color:grey;
        border-radius:50%;
        border: 0.5px solid black;
        text-align:center;
    }
    
    .chessPieceBlack {
        position:absolute;
        padding:0;
        width:8vw;
        height:8vw;
        background-color:black;
        color:white;
        border-radius:50%;
        border: 0.5px solid grey;
        text-align:center;
    }
    
    #chessMessageDiv {
        text-align:center;
        padding:5px;
    }
    
    #chessInput {
        text-align:center;
        font-size:16px;
        border:1px solid grey;
    }
    
}